@font-face {
  font-family: 'Libre Franklin';
  src: url('../fonts/libre-franklin/libre-franklin-400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Libre Franklin';
  src: url('../fonts/libre-franklin/libre-franklin-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
